#root {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 5%;
    width: 950px;
}

#app-name {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #2E4B52;
}

#app-byline {
    font-size: 25px;
    margin-left: 15px;
}

#me {
    font-size: 20px;
    font-weight: 600;
    color: #2E4B52;
}

#table {
    border-radius: 9px;
    border: 1px solid #2E4B52;
    margin-top: 12px;
    padding: 3%;
}

#todo-table{
    position: absolute;
    left: 10%;
    top: 10%;
}

#above {
    margin-bottom: 25px;
}

#item-box {
    vertical-align: top;
    height: 20px;
    width: 325px;
    left: 3%;
    font-size: 15px;
    font-weight: 300;
}

#add-new, #clear-list {
    vertical-align: top;
    width: 75px;
    margin-left: 30px;
    height: 26px;
    background-color: white;
    border: 0.05em solid black;
    border-radius: 3px;
    cursor: pointer;
}

.item-row {
    margin-bottom: 6px;
    color: #2E4B52;
}

.item-id {
    display: inline-block;
    width: 15px;
}

.item-obj-key {
    display: none;
}

.item-todo {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 300;
    width: 300px;
    background-color: #E0E7E9;
    height: 24px;
    margin-left: 6px;
    padding-left: 6px;
    margin-bottom: 3px;
}

.item-date {
    display: inline-block;
    text-align: left;
    margin-left: 18px;
    min-width: 120px;
    font-size: 0.8rem;
}

.item-date-prefix {
    font-weight: 400;
    font-size: 0.75rem;
}

.item-pending {
    display: inline-block;
    min-width: 50px;
    text-align: right;
    font-size: 0.9rem;
}

.item-done {
    display: inline-block;
    min-width: 40px;
    margin-left: 6px;
}

.item-done-label{
    font-size: 0.8rem;
    margin-left: 24px;
}

.item-edit {
    width: 40px;
    margin-left: 24px;
    border: 0.05em solid;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

.item-delete {
    width: 60px;
    margin-left: 12px;
    border: 0.05em solid;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

.todo-editing {
    border: 0.01em solid #2E4B52;
}

.item-confirm-highlight {
    background-color: #2E4B52;
    color: white;
    border-radius: 3px;
    border: none;
    width: 60px;
}

.item-todo-done { /* below item-added etc */
    background-color: #FFF;
    text-decoration: line-through;
}

